<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/WEB-INF/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <location>/WEB-INF/errorpage.jsp</location>
    </error-page>


    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.epam.servlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/poll</url-pattern>
        <url-pattern>/question</url-pattern>
        <url-pattern>/answer</url-pattern>
        <url-pattern>/results</url-pattern>
    </filter-mapping>
</web-app>
